* {
    background-color:beige;
}
h1{
    color: chocolate;
    display: flex;
    justify-content: center;
}


li {
    margin-bottom: 10px;
}

li button {
        font-size: 15px;
        margin-left: 20px;
        color: #666;
}


#countainer{
    display: flex;
    justify-content: center;
}
